<footer class="footer">
  <section class="footer_section">
    <div class="footer_section_box">
      <img src="../../../../assets/images/logo_footer.png" width="100px">
      <h1>Socially and environmentally <br> progressive outdoor footwear</h1>
      <div class="icon">
        <!--  <mat-icon>instagram</mat-icon>-->
      </div>
    </div>

    <div class="footer_section_box">
      <h1>Our Shop</h1>
      <div class="footer_section_box_route">
        <a href=""> All Products</a>
        <a href=""> The Weekend Boot</a>
        <a href=""> The Anyday Rain Boot</a>
        <a href=""> The Winter Weekend Boot Z</a>
        <a href=""> The Terrus Clog</a>
        <a href=""> Accessories</a>
        <a href=""> Thesus Gift Card </a>
      </div>
    </div>

    <div class="footer_section_box">
      <h1>Help</h1>
      <div class="footer_section_box_route">
        <a href=""> SIze guide</a>
        <a href=""> Shipping Information</a>
        <a href=""> Refund Policy</a>
        <a href=""> Wear and Care FAQ</a>
      </div>
    </div>

    <div class="footer_section_box">
      <h1>About us</h1>
      <div class="footer_section_box_route">
        <a href="">Values</a>
        <a href="">Contact Us</a>
      </div>
    </div>
    <div class="line"></div>

  </section>
</footer>
