@import "src/app/shared/styles/@mixins";

.footer {
  &_section {
    color: white;
    background-color: #123026;
    padding: 50px;
    @include flex-row-space-evenly;

    @media screen and (max-width: 700px) {
      flex-wrap: wrap;
      justify-content: start;
    }

    &_box {
      margin-right: 18px;
      @include flex-column;

      &_route {
        @include flex-column;

        a {
          text-decoration: none;
          color: white;
          line-height: 2;
          font-size: 18px;
          font-family: 'Atak', sans-serif;
        }
      }

      img {
        border: 1px solid black;
        margin-bottom: 15px;
      }
    }
  }
}
