.product-card {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  gap: 50px 20px;
  padding: 46px;
  @media screen and (max-width: 1200px) {
    grid-template-columns: auto auto;
  }
}
