<section class="product">
  <div class="product_card">
    <div><img src="assets/images/products/{{product.image[0]}}"></div>
    <div>
      <h3 class="product_card_title">{{product.title}}</h3>
      <div class="product_card_reviews">
        <app-product-review [review]="product.reviews"></app-product-review>
      </div>
      <div class="product_card_price">{{product.price}}</div>
      <div class="product_card_sizes">
        <input type="number">
      </div>
      <button>Add to cart</button>
    </div>
  </div>
</section>
