<section class="product">
  <div class="product_card">
    <div>
      <img src="assets/images/products/{{product.image[0]}}">
    </div>
    <div class="product_card_description">
      <h3 class="product_card_description_title">{{product.title}}</h3>
      <div class="product_card_description_reviews">
        <app-product-review [review]="product.reviews"></app-product-review>
      </div>
      <div class="product_card_description_price">{{product.price}} <span>AMD</span></div>
      <div class="product_card_description_sizes">
        <app-select
                    [formControl]="form.get('sizes')"
                    [type]="'number'"
                    [sizeOptions]="product.size"
        ></app-select>
      </div>
      <app-button [title]="'Add to cart'"
      (onClick)="addProductToBasket(product)"
      ></app-button>
    </div>
  </div>
</section>
