@mixin flex-row {
  display: flex;
}

@mixin flex-column {
  @include flex-row;
  flex-direction: column;
}

@mixin flex-row-space-between {
  @include flex-row;
  justify-content: space-between;
}

@mixin flex-row-space-evenly {
  @include flex-row;
  justify-content: space-evenly;
}

@mixin flex-row-space-around {
  @include flex-row;
  justify-content: space-around;
}


