@import "src/app/shared/styles/@mixins";

.cart {
  &_block {
    @include flex-column;
    margin: 45px;
    padding: 15px 0;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
  }

  &_total {
    display: flex;
    justify-content: flex-end;
    padding: 0px 45px 15px;

    &_sum {
      font-size: 23px;
    }
  }
}

.empty-product {
  padding: 45px;
  text-align: center;
  margin: 0 auto;
  display: block;
  font-size: 20px;
}
