<div class="cart_side">
  <div class="cart_side_description">
    <div class="cart_side_description_image">
      <img src="assets/images/products/{{cart.image[0]}}" width="150px">
    </div>

    <div>
      <h2>{{cart.title}}</h2>
      <b>{{cart.price}}</b>
      <p>Size: {{cart.size[0]}}</p>
    </div>
  </div>
  <div class="cart_side-choose-count">
    <div class="cart_side-choose-count_block">
      <button (click)="changeSelectedProductCount(cart,changeSelectedCount.DECREMENT)">-</button>

      <input [(ngModel)]="selectedProductCount"
             type="number">

      <button (click)="changeSelectedProductCount(cart,changeSelectedCount.INCREMENT)">+</button>

    </div>
    <mat-icon (click)="removeProductFromCart(cart.id)">delete</mat-icon>
  </div>

  <b>{{productTotal(cart.price)}} AMD</b>

</div>


