<section class="values">
  <div class="values-blockOne">
    <h1>Who We Are</h1>
    <p>Thesus is a socially and environmentally progressive brand of outdoor footwear and accessories. We are made up of
      a small ragtag band of industry outsiders from around the world.

      We have big imaginations but we listen, think and act carefully. We believe that positive change happens when even
      simple ideas are given wings. Our ideas are brought to life through connection, commitment, and design
      simplicity.</p>
  </div>

  <div>
    <img src="assets/images/values/thesus-ethos-values.webp">
  </div>
</section>
