<section class="values">
  <div class="values-blockOne">
    <h1>Who We Are</h1>
    <div class="description">
      <p>Thesus is a socially and environmentally progressive brand of outdoor footwear and accessories. We are made up
        of
        a small ragtag band of industry outsiders from around the world.</p>

      <p> We have big imaginations but we listen, think and act carefully. We believe that positive change happens when
        even
        simple ideas are given wings. Our ideas are brought to life through connection, commitment, and design
        simplicity.</p>
    </div>
  </div>

  <div class="values-imageBlock">
    <img src="assets/images/values/thesus-ethos-values.webp">
    <div class="values-imageBlock_title">
      <h1>Where We Are</h1>
      <p class="descriptin">Thesus HQ is in Toronto, Canada. We acknowledge the Mississaugas of New Credit, the
        Haudenosaunee and
        Huron-Wendat First Nations, the original keepers of this land that hosts us.</p>
    </div>
  </div>

  <div class="values-ourValues">

    <h1>Our Values</h1>
    <div class="values-ourValues_flexBox">
      <div>
        <h2 class="values-ourValues_flexBox_title">Connection</h2>
        <p class="description">We connect with the best producers in the world, those with
          generational knowledge and those who also share
          our
          values of accountability, transparency and sustainability.

          We stay in the region, we break bread, we laugh and share stories, we get to know the culture and community,
          and
          most importantly, we work closely to make better shoes, for People and the Planet.</p>
      </div>
      <div>
        <h2 class="values-ourValues_flexBox-title">Community</h2>
        <p class="description">Our commitment centers around ensuring that the People and the
          Planet are considered at every stage of our
          value chain. We have aligned ourselves with the United Nations Sustainable Development Goals to make sure we
          are always at the forefront of addressing important issues like Ocean Pollution, Climate Change and Economic
          Inequalities.</p>
      </div>
      <div>
        <h2 class="values-ourValues_flexBox-title">Good Design</h2>
        <p class="description">We believe in good design as a way of reducing waste. We focus
          on what matters: material make-up, design
          simplicity, sustainability, quality, comfort and functional integrity. We create versatile shoes that you
          actually want to wear, on-or-off the trail year round.</p>
      </div>
    </div>
  </div>

  <div class="values-imageBlock">
    <img src="assets/images/values/thesus-ethos-values-2.webp">
  </div>

  <div class="values-blockOne">
    <h1>Transparency</h1>
    <div class="description">
      <p>At Thesus we believe that honesty and transparency are the most important drivers in ensuring progress is made
        for People and the Planet. We reveal our entire materials list on each product page, so there are no questions
        left unanswered.</p>

      <p>We are always looking to be better at what we do. That means, we are constantly on the lookout for new and
        innovative materials and partners. If you have any suggestions or direction, please reach out to us at
        support@thesusoutdoors.com.</p>
    </div>
  </div>

  <div class="values-flexBoxTwo">
    <div>
      <img src="assets/images/values/Frame_896.webp">
    </div>
    <div>
      <h1>Diversity & Inclusion</h1>
      <div class="description">
        <p>Thesus is proudly BIPOC woman-owned, and women-led, and we will continue to ensure diversity in all ranks as
          we grow.</p>
        <p>We are dedicated to achieving the best practices for equitable hiring, growth, and pay for every team member
          and committed to ensuring that diversity of size, race and gender/sexuality is being celebrated internally and
          externally.</p>
      </div>
    </div>
  </div>

  <div class="values-flexBoxTwo">

    <div>
      <h1>100% Living Wage</h1>
      <div class="description">

        <p>We believe that living wages are at the center of our quality of life as communities. We want to ensure that
          we provide a supportive environment so that people lead happier and healthier lives. At Thesus, 100% of our
          current staff and staff of our direct manufacturers, are paid a living wage.</p>
      </div>
    </div>
    <div>
      <img src="assets/images/values/Frame_902.webp">
    </div>
  </div>

  <div class="values-flexBoxTwo">
    <div>
      <img src="assets/images/values/fair-trade-production-footwear.webp">
    </div>
    <div>
      <h1>Production</h1>
      <div class="description">
        <div>At Thesus we commit to working in regions in the world that have overarching systems and good governance in
          place to support a decent standard of living. We spend months finding the right people to partner with, live
          in the regions, and build friendships with their teams.

          To form partnerships with factories, we move to the regions where we operate. Our founders get to know the
          owners and employees and take the time to understand their current sustainability standards and future
          ambitions for how we can together work toward operating within planetary boundaries, centering community
          wellbeing and the planet. This process is a personal one, that takes the vetting process well beyond
          certifications and helps to ensure we are partnering with suppliers whose values are already in alignment with
          Thesus’ goals of operating within planetary boundaries with a focus on nature based solutions.

          As of July 2022 we have moved 100% of our production to Portugal, beating our goal of an HDI rank by 3%
          achieving an HDI 0.864.

          For more information about our production check out our factories:


          <ul>
            <li> Calcado Netos (São João da Madeira, Portugal)</li>
            <li> Calcado Albano (Vizela, Portugal)</li>
            <li> Calcado Netos (São João da Madeira, Portugal)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="values-flexBoxTwo">
    <div>
      <h1>Climate Positive</h1>
      <div class="description">
        <p>We are not neutral when it comes to climate change. We are aiming to be regenerative in all of our
          activities, meaning, we want to be Climate Positive in all of our activities.</p>
      </div>
    </div>
    <div>
      <img src="assets/images/values/Frame_1093.webp">
    </div>

  </div>

  <div class="values-flexBoxTwo">
    <div>
      <img src="assets/images/values/reduced-plastic-waste-footwear.webp">
    </div>
    <div>
      <h1>Diverting Waste</h1>
      <div class="description">
        <p>At Thesus we are committed to making footwear that has a positive environmental impact on the world. We do
          this by taking the time to research materials; natural materials that have been used for millennia, as well as
          new and innovative materials that have a net positive impact on the world around us.</p>
      </div>
    </div>
  </div>


</section>
